<section class="hero">
    <div class="hero-content">
        <h2 class="hero-subtitle">Gestisci, crea e assegna badge con un’unica soluzione intuitiva</h2>
        <h1 class="hero-title">
            <strong>La piattaforma</strong><br />
            per certificazioni digitali<br />
            <strong>intelligente</strong>
        </h1>

        <button class="rounded-btn" routerLink="/register">Inizia adesso</button>
    </div>

    <div class="hero-image">
        <img src="asset1.png" alt="Badge illustration" />
    </div>
</section>
