.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem;
    gap: 4rem;
    min-height: 90vh;
    background: linear-gradient(to bottom, #99D9F4 40%, #ffffff 85%);
    color: white;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
        flex-direction: column;
        text-align: center;
        padding: 2rem;
    }

    .hero-content {
        flex: 1;

        .hero-subtitle {
            color: white;
            font-size: 1.6rem;
            font-weight: 500;
            font-style: italic;
            margin-bottom: 1.5rem;
        }

        .hero-title {
            font-size: 4rem;
            font-weight: 400;
            line-height: 1.2;
            color: white;

            strong {
                font-weight: 800;
            }

            @media (max-width: 768px) {
                font-size: 2.5rem;
            }
        }

        .rounded-btn {
            margin-top: 2rem;
        }
    }

    .hero-image {
        flex: 1;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        img {
            max-width: 120%;
            width: 600px;
            height: auto;
            transform: translateY(201px);
            transition: transform 0.3s ease;

            @media (max-width: 1024px) {
                width: 90%;
                transform: translateY(40px);
            }

            @media (max-width: 480px) {
                max-width: 100%;
                transform: translateY(37px);
            }
        }
    }


    .rounded-btn {
        display: flex;
        gap: 1rem;
        display: inline-block;
        background: #2c2c51;
        border-radius: 2rem;
        color: white;
        font-weight: bold;
        padding: 1.2rem 4rem;
        font-size: 1.4rem;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
            background: #1e1e3c;
        }
    }
}