<div>

</div>
<h1 class="title-features">Gestione completa dei badge</h1>
<section class="badge-layout">
  
  <div class="left-panel">
    <ul class="option-list">
      <li>Certificazioni tracciabili</li>
      <li class="active">Personalizzazione avanzata</li>
      <li>Statistiche in tempo reale</li>
      <li>Importazione facilitata</li>
    </ul>
  </div>

  
<div class="badge-card">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="Dm-Specialist.png" />
        </ng-template>
        <ng-template #title> 
          <h2 class="title-card">Digital Marketing Specialist </h2>
        </ng-template>
    
    </p-card>
</div>


  <div class="right-panel">
    <ul class="option-list">
      <li>Personalizzazione avanzata</li>
    </ul>
    <div class="highlight">
      <h4>Badge costruiti<br>intorno alla tua identità</h4>
      <p>
        Modifica grafiche, testi e criteri per renderli davvero rappresentativi del tuo ente. <br>
        Crea badge coerenti con il tuo brand, anche senza competenze tecniche.
      </p>
      <button class="cta">Registrati</button>
    </div>
  </div>
</section>
