<section class="feature-container">
  <h1 class="title-features">Gestione completa dei badge</h1>
  <section class="badge-layout">
    <!-- Left panel -->
    <div class="left-panel">
      <ul class="option-list">
        @for (item of featureOptions; track $index) {
        <li [class.active]="item.isActive"><span class="dot"></span>{{item.label}}</li>
        }
      </ul>
    </div>

    <!-- Badge card component -->
    @for (item of badgeDetails; track $index) {
    <div class="badge-card">
      <p-card class="p-card">
        <ng-template #header>
          <div class="card-header">
            <div class="card-header-content">
              <div class="card-icons">
                <i class="pi pi-download" style="font-size: 1.8rem; color: #477EC0;" aria-label="Download"></i>
                <i class="pi pi-pencil" style="font-size: 1.8rem; color: #477EC0;" aria-label="Modifica"></i>
              </div>
              <p-button label="Assegna" styleClass="btn-submit"></p-button>
            </div>
            <img alt="Digital Marketing Specialist badge" class="w-full" src="Dm-Specialist.png" />
          </div>
        </ng-template>
        <ng-template #title>
          <h2 class="title-card">{{item.name}}</h2>
        </ng-template>
        <ng-template #content>
          <div class="card-body">
            <div class="column">
              <p><strong>Creato il:</strong></p>
              <p>{{item.createdAt}}</p>
              <div class="column">
                <p><strong>Aggiornato il:</strong></p>
                <p>{{item.updatedAt}}</p>
              </div>
              <div class="column">
                <p><strong>Versione:</strong></p>
                <p>{{item.version}}</p>
              </div>
            </div>
            <div class="column">
              <p><strong>Tipologia:</strong></p>
              <p>{{item.type}}</p>
              <div class="column">
                <p><strong>Stato:</strong></p>
                <p>{{item.state}}</p>
              </div>
              <div class="column">
                <p><strong>Badge Assegnati:</strong></p>
                <p>{{item.assignedCount}}</p>
              </div>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
    }

    <!-- Right panel -->
    <div class="right-panel">
      <ul class="option-list">
        <li class="active-circle">
          <span class="outer-circle">
            <span class="inner-circle"></span>
          </span>
          <span class="label-text">Personalizzazione avanzata</span>
        </li>
      </ul>
      <div class="highlight">
        <h4>Badge costruiti<br>intorno alla tua identità</h4>
        <p>
          Modifica grafiche, testi e criteri per renderli davvero rappresentativi del tuo ente.<br>
          Crea badge coerenti con il tuo brand,<br>
          anche senza competenze tecniche.
        </p>
        <button class="btn-register">Registrati</button>
      </div>
    </div>
  </section>
</section>

<!-- <li class="active"><span class="dot"></span>Personalizzazione avanzata</li>
        <li><span class="dot"></span>Statistiche in tempo reale</li>
        <li><span class="dot"></span>Importazione facilitata</li> -->