<section class="hero">
    <div class="hero-content">
        <h2 class="hero-subtitle">Gestisci, crea e assegna badge con un’unica soluzione intuitiva</h2>
        <h1 class="hero-title">
            La piattaforma<br />
            per certificazioni digitali<br />
            <span class="highlight">intelligente</span>
        </h1>
            <button pButton label="Inizia adesso" class="rounded-btn" routerLink="/register"></button>
    </div>

    <div class="hero-image">
        <img src="assets/images/hero-illustration.svg" alt="Badge illustration" />
    </div>
</section>