@use '../../../_variables' as *;

.custom-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
    padding: 1rem 0;

    .navbar-container {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }


    .logo-section {
        display: flex;
        align-items: center;
        cursor: pointer;

        .logo-img {
            height: 7rem;
            width: auto;
            object-fit: contain;
        }


        .brand-name {
            font-family: 'Poppins', sans-serif;
            font-size: 2.5rem;
            font-weight: 300;
            color: #2c2c51;
        }
    }

    .nav-links {
        display: flex;
        gap: 4rem;

        a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-weight: 500;
            font-size: 1.7rem;
        }
    }
}

.nav-buttons {
    display: flex;
    gap: 1rem;

    .rounded-btn {
        background: #2c2c51;
        border: none;
        border-radius: 2rem;
        color: white;
        font-weight: bold;
        padding: 0.7rem;
        font-size: 1.1rem;
        width: 9rem;

        &:hover {
            background: #1e1e3c;
        }
    }
}