<!-- <header class="custom-navbar">
  <div class="navbar-container">
    <div class="logo-section" routerLink="/">
      <img src="/logo.png" alt="Logo" class="logo-img" />
    </div>

    <button class="hamburger" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </button>

    <nav class="nav-links desktop-only">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/feature" routerLinkActive="active">Features</a>
      <a routerLink="/workflow" routerLinkActive="active">Workflow</a>
      <a routerLink="/piani" routerLinkActive="active">Piani</a>
    </nav>
    <div class="nav-buttons desktop-only">
      <button pButton label="Registrati" class="rounded-btn" routerLink="/register"></button>
      <button pButton label="Log in" class="rounded-btn" routerLink="/login"></button>
    </div>
  </div>
</header>


    <div class="mobile-menu mobile-only" [ngClass]="{ open: isMenuOpen }">
      <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a>
      <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a>
      <a routerLink="/feature" routerLinkActive="active" (click)="closeMenu()">Features</a>
      <a routerLink="/workflow" routerLinkActive="active" (click)="closeMenu()">Workflow</a>
      <a routerLink="/piani" routerLinkActive="active" (click)="closeMenu()">Piani</a>

      <div class="nav-buttons mobile">
        <button pButton label="Log in" class="rounded-btn" routerLink="/login" (click)="closeMenu()"></button>
        <button pButton label="Registrati" class="rounded-btn" routerLink="/register" (click)="closeMenu()"></button>
      </div>
    </div>
