<section>
  <div class="workflow-container">
    <!--Panel left -->
    <div class="left-column">
      <h1>Workflow</h1>
      <section class="workflow-content">
        <p class="workflow-description">Interfaccia <strong>intuitiva</strong>,</p>
        <p class="workflow-description"><strong>flussi guidati</strong> e <strong>strumenti</strong> professionali</p>
        <p class="workflow-description">pensati <strong>per ogni ruolo</strong></p>
      </section>
      <img src="workflow1.png" alt="">
    </div>

    <!--Panel right -->
    <div class="right-column">
      <img src="workflow2.png" alt="">
      <img src="workflow3.png" alt="">
    </div>
  </div>
</section>