@import 'primeicons/primeicons.css';

html, body {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, .hero-title, .rounded-btn, strong {
  font-family: 'Poppins', sans-serif;
}
